/* Hide the default checkbox */
.auth input[type="checkbox"] {
  appearance: none;
  /* For modern browsers */
  -webkit-appearance: none;
  /* For Safari */
  -moz-appearance: none;
  /* For Firefox */
  width: 20px;
  height: 20px;
  border: 0.5px solid #5c5c5c;
  border-radius: 2px;
  cursor: pointer;
}

.hexagon {
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}